<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="300">
    <Properties>
        <Property name="app.key">data-aggregator</Property>
        <Property name="appKey">com.sankuai.inf.logCollector</Property>
        <Property name="app.logdir">/opt/logs/mobile/${app.key}</Property>
    </Properties>
    <appenders>

        <XMDFile name="logFile" fileName="${app.key}.log"></XMDFile>
        <!-- jmonitor -->
        <XMDFile name="jmonitorappender" fileName="${app.key}.jmonitor.log"></XMDFile>

        <Scribe name="remoteErrorLog">
            <LcLayout/>
        </Scribe>

        <!--异常日志远程上报-->
        <Async name="AsyncErrorLog" blocking="false">  <!-- 当 blocking 为 false 时，超过最高 qps 时，不阻塞，直接抛弃数据。-->
            <AppenderRef ref="remoteErrorLog"/>
        </Async>

    </appenders>

    <Loggers>
        <logger name="jmonitor" level="warn" includeLocation="true" additivity="false">
            <AppenderRef ref="jmonitorappender"/>
        </logger>
        <logger name="jmonitorlogstore" level="warn" includeLocation="true" additivity="false">
            <AppenderRef ref="jmonitorappender"/>
        </logger>

        <!--Application Logger-->
        <logger name="com.sankuai" level="info" includeLocation="true" additivity="false">
            <AppenderRef ref="logFile"/>
            <AppenderRef ref="AsyncErrorLog"/>
        </logger>

        <logger name="com.meituan" level="info" includeLocation="true" additivity="false">
            <AppenderRef ref="logFile"/>
            <AppenderRef ref="AsyncErrorLog"/>
        </logger>

        <!-- Root Logger -->
        <root level="warn" includeLocation="true">
            <AppenderRef ref="logFile"/>
            <appender-ref ref="AsyncErrorLog"/>
        </root>

    </Loggers>
</Configuration>