<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sankuai.msgp.errorlog.dao.ErrorLogFilterDao" >
  <resultMap id="BaseResultMap" type="com.sankuai.msgp.errorlog.pojo.ErrorLogFilter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="appkey" property="appkey" jdbcType="VARCHAR" />
    <result column="terminate" property="terminate" jdbcType="BIT" />
    <result column="sort_num" property="sortNum" jdbcType="BIGINT" />
    <result column="rules" property="rules" jdbcType="VARCHAR" />
    <result column="rule_condition" property="ruleCondition" jdbcType="INTEGER" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="operator_id" property="operatorId" jdbcType="INTEGER" />
    <result column="alarm" property="alarm" jdbcType="BIT" />
    <result column="threhold" property="threhold" jdbcType="INTEGER" />
    <result column="threshold_min" property="thresholdMin" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, appkey, terminate, sort_num, rules, rule_condition, enabled, status, create_time, 
    update_time, operator_id, alarm, threhold, threshold_min
  </sql>

  <select id="selectBy" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from error_log_filter
    <where>
      appkey = #{appkey}
      and status =#{status}
      <if test="enabled != null">
        and enabled = #{enabled}
      </if>
    </where>
    order by sort_num asc
  </select>
</mapper>