<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sankuai.msgp.errorlog.dao.LogAlarmSeverityConfigDao" >
  <resultMap id="BaseResultMap" type="com.sankuai.msgp.errorlog.pojo.LogAlarmSeverityConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appkey" property="appkey" jdbcType="VARCHAR" />
    <result column="ok" property="ok" jdbcType="INTEGER" />
    <result column="warning" property="warning" jdbcType="INTEGER" />
    <result column="error" property="error" jdbcType="INTEGER" />
    <result column="disaster" property="disaster" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, appkey, ok, warning, error, disaster
  </sql>

  <insert id="save" parameterType="com.sankuai.msgp.errorlog.pojo.LogAlarmSeverityConfig">
    insert into log_alarm_severity_config
    (appkey, ok, warning, error, disaster)
    values (#{appkey}, #{ok}, #{warning}, #{error}, #{disaster})
    on duplicate key update
    ok = #{ok},
    warning = #{warning},
    error = #{error},
    disaster = #{disaster};
  </insert>

</mapper>