<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.sankuai.octo">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--<bean id="swiftPublisher" class="com.sankuai.octo.aggregator.swift.SwiftPublisher"-->
          <!--init-method="publish" destroy-method="destroy">-->
        <!--<property name="appkey" value="com.sankuai.inf.logCollector"/>-->
        <!--<property name="port" value="8920"/>-->
    <!--</bean>-->

    <bean id="serviceProcessor" class="com.sankuai.octo.aggregator.thrift.LogCollectorServiceImpl"/>

    <bean id="serverPublisher" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServerPublisher"
          init-method="publish" destroy-method="destroy">
        <property name="serviceInterface" value="com.sankuai.octo.aggregator.thrift.service.LogCollectorService"/>
        <property name="serviceImpl" ref="serviceProcessor"/>
        <!--可不配置，默认4-->
        <property name="selectorThreads" value="10"/>
        <!--可不配置，默认10-->
        <property name="minWorkerThreads" value="64"/>
        <property name="maxWorkerThreads" value="512"/>
        <property name="port" value="8920"/>
        <property name="appKey" value="com.sankuai.inf.logCollector"/>
        <property name="clusterManager" value="OCTO"/>
    </bean>

    <bean id="booter" class="com.sankuai.octo.aggregator.bootstrap" init-method="init"/>

</beans>
