	<div class="counters">
		
		<div class="cell borderRight">
			<a href="/log/report?appkey=<%= name %>" style="cursor: pointer" target="_blank" title="错误日志量" class="line monitor_tooltip failure"><%= addCommas(errorCount) %></a>


			<!--<a href="javascript://" title="过载保护量" class="line monitor_tooltip rejected"><%= addCommas(rollingCountSemaphoreRejected) %></a>-->
		</div>
		<div class="cell borderRight">
			<a href="/data/tabNav?appkey=<%= name %>&type=performance#performance>" style="cursor: pointer" target="_blank" title="请求量" class="line monitor_tooltip success"><%= addCommas(rollingCountSuccess) %></a>
			<!--<a href="javascript://" title="超时请求量" class="line monitor_tooltip timeout"><%= addCommas(rollingCountTimeout) %></a>-->

		</div>
	</div>

	<div class="rate">
		<a href="/data/tabNav?appkey=<%= name %>&type=performance#performance>" target="_blank" style="cursor: pointer" title="一分钟请求量/60s/机器节点" class="monitor_tooltip rate"><span class="smaller">单机QPS: </span><span class="ratePerSecondPerHost"><%= addCommas(roundNumber(ratePerSecondPerHost)) %></span>/s</a>
	</div>
	<div class="rate">	
		<a href="/data/tabNav?appkey=<%= name %>&type=performance#performance>" target="_blank" style="cursor: pointer" title="一分钟请求量/60s" class="monitor_tooltip rate"><span class="smaller">集群QPS: </span><span class="ratePerSecond"><%= addCommas(roundNumber(ratePerSecond)) %></span>/s</a>
	</div>
		
		 
		
		<div class="spacer"></div>
		
		<div class="tableRow">
			<% if(typeof reportingHosts != 'undefined') { %>
			<div class="cell header">主机数</div>
			<div class="cell data"><a href="/data/tabNav?appkey=<%= name %>&type=host#host" target="_blank" style="color:inherit; cursor: pointer"><%= reportingHosts %></a></div>
			<% } else { %>
			<div class="cell header">主机数</div>
			<div class="cell data">Single</div>
			<% } %>

			<div class="cell header">tp50</div>
			<div class="cell data latency50"><a href="/data/tabNav?appkey=<%= name %>&type=performance#performance>" target="_blank" style="color:inherit"><span class="value"><%= roundNumber(latencyExecute['50']) %></span>ms</a></div>

		</div>
		<div class="tableRow">
			<div class="cell header">tp90</div>
			<div class="cell data latency90"><a href="/data/tabNav?appkey=<%= name %>&type=performance#performance>" target="_blank" style="color:inherit"><span class="value"><%= roundNumber(latencyExecute['90']) %></span>ms</a></div>
			<div class="cell header">tp99</div>
			<div class="cell data latency99"><a href="/data/tabNav?appkey=<%= name %>&type=performance#performance>" target="_blank" style="color:inherit"><span class="value"><%= roundNumber(latencyExecute['99']) %></span>ms</a></div>
			 
		</div>
	
