<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 加载mtthrift配置文件 -->
    <import resource="classpath:mtthrift.xml" />

    <bean id="scanService"
          class="com.sankuai.octo.scanner.service.impl.ScanServiceImpl" destroy-method="destroy">
        <property name="baseDir" value="/mns/sankuai"/>
        <property name="zkUrl" value="${zkUrl}"/>
        <property name="msgpHost" value="${msgpHost}"/>
        <property name="allowUpdateZKData" value="${allowUpdateZKData}"/>
    </bean>

    <bean id="bootstrap" class="com.sankuai.octo.service.bootstrap" init-method="init"/>

    <!-- 每10秒钟扫描一次 server的存活 -->
    <bean id="serverAliveJobTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
                <property name="targetObject" ref="scanService"/>
                <property name="targetMethod" value="scanZK"/>
                <property name="concurrent" value="false"/>
            </bean>
        </property>
        <property name="cronExpression" value="*/10 * * * * ?"/>
    </bean>

    <!-- TimeTask定时管理器 -->
    <bean id="timetaskSchedulerAll"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref local="serverAliveJobTrigger"/>
            </list>
        </property>
        <property name="autoStartup" value="true"/>
        <property name="schedulerName" value="timetaskSchedulerAll"/>
    </bean>

</beans>