<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="twitterImpl" class="com.sankuai.mtthrift.testSuite.idlTest.NettyImpl" />
    <bean id="twitterImplBean" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServiceBean">
        <property name="serviceImpl" ref="twitterImpl"/>
    </bean>
    <bean id="multiServiceServerPublisher" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServerPublisher"
          init-method="publish" destroy-method="destroy">
        <property name="appKey" value="com.sankuai.inf.mtthrift.testServer"/>
        <property name="port" value="9920"/>
        <property name="serviceProcessorMap">
            <map>
                <entry key="com.sankuai.mtthrift.testSuite.idlTest.Twitter" value-ref="twitterImplBean"/>
            </map>
        </property>
        <property name="shutdownWaitTime" value="0"/>
        <!--<property name="maxServerConn" value="2"/>-->
        <!--<property name="limitCount" value="60" />-->
        <!--<property name="limitSecondsTime" value="60" />-->
        <!--<property name="authHandler" ref="defaultAuthHandler" />-->
    </bean>
</beans>