*{padding:0; margin:0;}
html,body{width:100%; height:100%; overflow:hidden; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body{background-color:#303749 !important;}
g{-webkit-user-select:none;}

.header{position:absolute; z-index:3; left: 13px; top: 13px;}
.header .logo a{font-size: 30px; text-decoration:none; line-height: 52px;margin-top: 0px;height: auto;width: auto;
  color: #3fab99;}
.header .logo-sep{width: 1px; background-color: #a1a1a1; margin: 0px 5px;height: 25px; display:inline-block;}
.header h1{float: right; font-size: 22px; color: #fff; font-weight: normal; margin: 15px 0 0 0;}
.toolbar{height:85px; border:1px solid #434b62; background-color:#303749; color:#8a8c93; z-index:2; font-size:0.75em; opacity:.95; position: absolute;left: 0; right: 0;}
.toolbar-row{margin:0 auto; font-size:12px;position: absolute; right: 0;}
.toolbar-cell{display:inline; width:100px; float:left; background:url("https://octo.sankuai.com/static/img/sp.png") no-repeat right 17px;}
.toolbar-cell .toolbar-btn{ height: 20px;padding-top:50px; display:block; text-align: center; text-decoration: none;color:#8a8c93; background:url("https://octo.sankuai.com/static/img/toolbar.png") no-repeat;}
.toolbar-cell.on .toolbar-btn{background:url("https://octo.sankuai.com/static/img/toolbar-hover.png") no-repeat;}
.toolbar-cell.on .co-refresh{background-position:-402px 0px;}
.toolbar-cell .apps{background-position:0px 0px;}
.toolbar-cell .legend{background-position:-97px 0px;}
.toolbar-cell .legend:active{background:url("https://octo.sankuai.com/static/img/toolbar-hover.png") no-repeat -97px 0px;}
.toolbar-cell .reset{background-position:-199px 0px;}
.toolbar-cell .reset:active{background:url("https://octo.sankuai.com/static/img/toolbar-hover.png") no-repeat -199px 0px;}
.toolbar-cell .refresh{background-position:-300px 0px;}
.toolbar-cell .refresh:active{background:url("https://octo.sankuai.com/static/img/toolbar-hover.png") no-repeat -300px 0px;}
.toolbar-cell .co-refresh{background-position:-402px 0px;}
.toolbar-cell .zoom-in{background-position:-500px 0px;}
.toolbar-cell .zoom-in:active{background:url("https://octo.sankuai.com/static/img/toolbar-hover.png") no-repeat -500px 0px;}
.toolbar-cell .zoom-out{background-position:-599px 0px;}
.toolbar-cell .zoom-out:active{background:url("https://octo.sankuai.com/static/img/toolbar-hover.png") no-repeat -599px 0px;}
.toolbar-cell .toolbar-list{width:110px; border:1px solid #484f5f; background-color:#000; opacity:.95; margin-top:33px; padding-bottom: 18px; display:none;}
/*.toolbar-cell.apps .toolbar-list{width:110px;}*/
/*.toolbar-cell.legend .toolbar-list{width:500px;}*/
.toolbar-cell .toolbar-list a{display:block; margin:18px 24px 0 18px; color:#fff; text-decoration:none;}
.toolbar-cell .toolbar-list a:hover{text-decoration:underline;}
.toolbar-cell.on .toolbar-list{display:block;}
.toolbar-cell .toolbar-item{  margin:15px 0px 10px 18px; position:relative;}
.toolbar-cell .toolbar-item .label{width: 72px; position:absolute; left:0; top:27px; text-align:right;}
.toolbar-cell .toolbar-item .legend-item{margin-left:80px;}
.toolbar-cell .toolbar-item .legend-item a{min-width:60px; display:inline-block; margin:0 10px 0 0; color: #646568; text-align:center;}
.toolbar-cell .toolbar-item .legend-item .legend-on .symbol{border:2px solid #ff8112;}
.toolbar-cell .toolbar-item .legend-item .legend-on .symbol i{margin:0;}
.toolbar-cell .toolbar-item .legend-item a:hover{text-decoration:none;}
.toolbar-cell .toolbar-item .symbol{display:inline-block;width:20px;height: 20px; border-radius: 3px;margin: 0 0 3px 0px; border:2px solid #000;}
.toolbar-cell .toolbar-item .symbol i{display:block; width:16px; height:16px; margin: 2px 0 0 2px; border-radius:2px;}
.toolbar-cell .toolbar-item .title{display:block;}
.toolbar-cell .line .symbol{height:7px; width:29px;}
.toolbar-cell .line .symbol i{height:3px; width:24px;}
.toolbar-cell .line .legend-item .legend-on .symbol{}
.toolbar-cell .line{margin-top: 20px;}
.toolbar-cell .line .label{top:12px;}
.x-dragging .x-edge-animate, .x-dragging .x-edge-animate{display:none;}
#vis{position:absolute;}
#vis svg{position:absolute; left:0; top:85px; background-color:#303749;}
.x-vertex *{cursor:move; }
.x-vertex text{fill:rgb(37, 23, 35); font-size:10px;}
.x-vertex circle{fill:#fff}
.x-vertex g, .x-edge .edge{opacity:1}
.x-vertex .pie{/*fill:#3182bd;*/ stroke:none; stroke-width:1;}
.x-vertex g{opacity:.2}
.x-edge .edge{opacity:0}
.x-vertex .x-vertex-current, .x-edge .x-edge-current{opacity: 1;}
.x-edge-animate{display:none;}
.x-edge-animate-current{display: inherit;}
.infos{width:300px; position:absolute; top:85px; left:0; background-color:#222; padding:0px 10px 15px; border:1px solid #484f5f; font-size:0.9em; opacity:.95; display:none;}
.infos.loading .wrap{display:none;}
.infos h2{margin-top:15px; color:#fff; font-size:1em; font-weight: normal;}
.infos .desc{margin-top:18px;}
.infos .desc h3{color:#fff; font-size: 0.9em; font-weight: normal;}
.infos .desc p{color:#4864b2; margin-top:7px;}
.infos .symbol{display:inline-block; width:21px; height:15px; background-color: #DDD; margin-right:6px; position: relative; top: 2px;}
#nodelist{position:absolute; top:84px; left:0px; padding: 15px 10px 10px; font-size:12px; border:1px solid #484f5f; background-color:#222; max-height: 500px; overflow-y:auto; display:none;}
#nodelist h3{color:#646568; font-size: 15px;}
#nodelist table{color:#4864b2; margin-top:10px; margin-right:15px; border-collapse: collapse; font-size: 1.1em;}
#nodelist th{ color:#fff; font-size: 14px; font-weight: 100; height:25px; padding: 0 5px 5px 8px}
#nodelist caption{color: #fff; font-size: 16px; margin-bottom: 10px; min-width: 200px}
#nodelist caption span{color: #ADFF2F; font-size: 14px; padding: 0 5px;};
#nodelist th.first{text-align:left; padding-left:0;}
#nodelist td{text-align:center; padding: 5px 2px 5px 2px;}
#nodelist tbody td:first-child{padding-right:18px; text-align:left;}
#nodelist table tr:nth-child(even){background-color:#28262D;}
#nodelist.loading table{display: none;}
#error{position:absolute; left:0; top:0; height:0px; right:0; display:none;  z-index: 3;}
#error span{
  margin-top: 85px;
  display: block;
  width: 90px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border: 1px solid #484f5f;
  background-color: #000;
  margin-top: 85px;
  position: absolute;
  left: 48%;}
#loading{position:absolute; left:0; top:0; height:85px; right:0; display:none;  z-index: 3;}
#loading span{display:block; width:90px; height:35px; line-height:35px; text-align:center; color:#fff; font-size:16px; border: 1px solid #484f5f;
  background-color: #000; margin-top:85px; position:absolute; left: 48%;}
#loading.show{display:block;}
#loading div{ position: absolute; top: 0; bottom: 0; opacity:.5; left: 0; right: 0; background-color:#000;}
.copyright{position:absolute; bottom:10px; right:10px; color:#595050;}
.side-list{
  width: 28px;
  height: 100%;
  position: fixed;
  right: 0;
  transition:width .5s;
  /*transition-delay: 2s;*/
}
.side-list:hover{
  width: 95%;
}
.side-list .side-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .95;
  padding: 10px;
  background: #cccccc;
  left: 28px;
  top: 85px;
}
.side-list .side-switch{
  position: absolute;
  opacity: .85;
  top: 50%;
  padding:2px;
  font-size: 20px;
  padding-bottom: 5px;
  width: 28px;
  background: white;
  border: 1px solid #fff;
  color: #000;
}
.side-content{
  overflow: scroll;
  height: 80%;
}
.side-content th{
  min-width: 80px;
}
