/* 服务视图css */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* loading效果 */
.msgp-loading {
  width: 100%;
  color: #fff !important;
  font-size: 14px;
  text-align: center;
}


/* 小球信息弹窗 */
.ball-info {
  display: none;
  position: absolute;
  top: 85px;
  left: 0;
  width: 300px;
  padding: 10px;
  border: 1px solid #484f5f;
  background: #222;
  opacity: .95;
}

.ball-info .info-row {

}

.ball-info h3 {
  font-size: 14px;
  color: #fff;
}

.ball-info p {
  margin-top: 10px;
  line-height: 21px;
  color: #4864b2;
  font-size: 13px;
}

.ball-info .symbol {
  display: inline-block;
  margin-top: 3px;
  margin-right: 5px;
  width: 21px;
  height: 15px;
  vertical-align: baseline;
}

.ball-info .intro-update {
  padding-bottom: 10px;
}

.ball-info .intro-update-form {
  display: none;
  padding-top: 10px;
}
