#yui3-css-stamp.skin-sam-w-date { display:none }
/* datepicker */
.widget-datepicker { background:#FFF; border:1px solid #999; box-shadow: 2px 2px 10px #999999; width: 210px; position: absolute; z-index: 1000; left: 0; top: 0; }
.widget-datepicker-content { margin:5px 10px 5px; }
.widget-datepicker-table { width:188px; text-align:center; }
.widget-datepicker-table th { padding:3px 5px; text-align:center; }
.widget-datepicker-table td { width:30px; padding:2px 0 3px; background:#FFF; border:1px solid #ccc; }
.widget-datepicker-table .cal-day-pre-month { color:#999; background:#eee; }
.widget-datepicker-table .cal-day-next-month { color:#999; background:#eee; }
.widget-datepicker-table .cal-day-cur-month { background:#eee; }
.widget-datepicker-table .widget-datepicker-selectable { color:#0066CC; cursor:pointer; background:#FFF; }
.widget-datepicker-table td.cal-day-hover { color:#FFF; background:#426FD9; }
.widget-datepicker-table td.widget-datepicker-selectable.widget-datepicker-selected { font-weight:bold; color:#fff; background:#089AE7; }
.widget-datepicker-table td.widget-datepicker-selectable.widget-datepicker-today { font-weight:bold; }
.widget-datepicker-table .cal-header-wrapper { position:relative; width:100%; }
.widget-datepicker-table .cal-header-wrapper a { position:absolute; top:2px; display:block; padding:1px 3px; padding-bottom:2px; font-size:12px; line-height:1.2em; color:#0066CC; background:#F9F9F9; border:1px solid #CCC; }
.widget-datepicker-table .cal-header-wrapper a:hover { color:#333; text-decoration:none; background:#FFF; }
.widget-datepicker-table .cal-nav-pre-m { left:22px; }
.widget-datepicker-table .cal-nav-pre-y { left:-5px; }
.widget-datepicker-table .cal-nav-next-m { right:22px; }
.widget-datepicker-table .cal-nav-next-y { right:-5px; }
.widget-datepicker-table .cal-header-wrapper input { padding:0; }
.widget-datepicker-table .widget-datepicker-change-year { width: 42px; border:1px solid #C2C2C2; text-align:center; background:#E2E2E2; padding-left:0; padding-right:0; margin-bottom:0; }
.widget-datepicker-table .widget-datepicker-change-year:focus { background: #FAFAFA; border:1px #929292 solid; }
.widget-datepicker-table .widget-datepicker-change-month { width: 22px; border:1px solid #C2C2C2; text-align:center; background:#E2E2E2; padding-left:0; padding-right:0; margin-bottom:0; }
.widget-datepicker-tip { border:1px solid #999; line-height:1.2em; background:yellow; color:black; text-align:center; padding:2px 0; }

.widget-datepicker .widget-datepicker-foot .widget-datepicker-down-arrow { width:188px; font-size:10px; height:8px; text-align:center; margin-top:4px; padding-bottom:8px; cursor:pointer;}
.widget-datepicker .widget-datepicker-foot .widget-datepicker-down-arrow:hover { outline:1px solid #AAA; }
.widget-datepicker .widget-datepicker-foot .widget-datepicker-time-set { width:100%; margin-top:2px; display:block; }
.widget-datepicker .widget-datepicker-foot .widget-datepicker-time-set span { margin-right:3px; }
.widget-datepicker .widget-datepicker-foot input { width:35px; height:16px; line-height:16px; background:#FFF; border:1px solid #C2C2C2; text-align:center; margin-bottom:0; padding:2px; }
.control-helper { padding:12px; border:1px solid #AAA; border-radius: 12px; position:absolute; bottom:-13px; right:-13px; }
.control-helper:hover { background:#B5DBE5; }

/*仅显示到年月*/
.mt-datepicker-only-year-month { padding:0; }
.mt-datepicker-only-year-month .widget-datepicker-table tbody { display:none; }
.mt-datepicker-only-year-month .widget-datepicker-weekday { display:none; }
.widget-datepicker-weekday .widget-datepicker-saturday { color:red; }
.widget-datepicker-weekday .widget-datepicker-sunday { color:red; }
