#yui3-css-stamp.skin-sam-w-paginator { display:none }
/*paginator*/
.widget-paginator-content { padding:1px 0;  margin-bottom:10px; text-align:right; }
.widget-paginator-focused { outline:none; }
.widget-paginator-content em { font-style:normal; color:#0088cc;}
.widget-paginator-content .paginator-jump { text-decoration:none; color:#000; margin-left:5px; }
.widget-paginator-content .paginator-jump input { width:30px; border:1px solid #D4D4D4; padding: 2px; margin:0 2px;}
.widget-paginator-content a { border:1px solid #c3c3c3; padding:2px 5px 2px 2px; color:#808080; text-decoration:none; cursor:pointer;}
.widget-paginator-content a:hover { background: #f5f5f5; color:#005580; }
.widget-paginator-content .paginator-total-count { margin-right:5px; display:none; }
.widget-paginator-content .paginator-page-size { margin-right:5px; }
.widget-paginator-content .paginator-page-size select { width:60px; }
.widget-paginator-content .page-disabled { background: #ddd; }
.widget-paginator-content .page-disabled:hover { background: #ddd; color: #808080; cursor: auto; }
.paginator-page-items { display:inline-block; *display:inline; margin-bottom:0; margin-left:5px; margin-right:5px; position:relative; bottom:-10px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; *zoom:1; -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); }
.paginator-page-items a { display:inline; }
.paginator-page-items a,
.paginator-page-items em { color:#0088cc; float:left; padding:4px 12px; line-height:20px; text-decoration:none; background-color:#ffffff; border:1px solid #dddddd; border-left-width:0; }
.paginator-page-items a:hover,
.paginator-page-items a:focus,
.paginator-page-items a.current { background-color:#f5f5f5; }
.paginator-page-items a.current { color:#999999; cursor:default; }
.paginator-page-items .page-disabled,
.paginator-page-items .page-disabled:hover,
.paginator-page-items .page-disabled:focus { color:#999999; cursor:default; background-color:transparent; }
.paginator-page-items span:first-child a { border-left-width:1px; -webkit-border-bottom-left-radius:4px; border-bottom-left-radius:4px; -webkit-border-top-left-radius:4px; border-top-left-radius:4px; -moz-border-radius-bottomleft:4px; -moz-border-radius-topleft:4px; }
.paginator-page-items span:last-child a { -webkit-border-top-right-radius:4px; border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; border-bottom-right-radius:4px; -moz-border-radius-topright:4px; -moz-border-radius-bottomright:4px; }
.paginator-jump .btn { display: inline-block; padding: 4px 12px; margin:0; font-size: 14px; line-height: 20px; color: #333; text-align: center; text-shadow: 0 1px 1px rgba(255,255,255,.75); vertical-align: middle; cursor: pointer; background-color: #f5f5f5; border: 1px solid #ccc; border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25); border-bottom-color: #b3b3b3; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05); box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05); background-image: none; filter: none; text-decoration: none; } 
.paginator-jump .btn:hover, .paginator-jump .btn:focus { color: #333; background-color: #e6e6e6; }
/* alignment */
.paginator-center { text-align:center; }
.paginator-left { text-align:left; }

/* paginator-large paginator-small paginator-mini */
.paginator-large .paginator-page-items a,
.paginator-large .paginator-page-items em { padding:11px 19px; font-size:17.5px; }
.paginator-small .paginator-page-items a,
.paginator-small .paginator-page-items em { padding:2px 10px; font-size:11.9px; }
.paginator-mini .paginator-page-items a,
.paginator-mini .paginator-page-items em { padding:0 6px; font-size:10.5px; }
.paginator-large .paginator-total-count { font-size:18px; }
.paginator-small .paginator-total-count { font-size:12px; }
.paginator-mini .paginator-total-count { font-size:10px; }
.paginator-large .paginator-page-items span:first-child a { -webkit-border-bottom-left-radius:6px; border-bottom-left-radius:6px; -webkit-border-top-left-radius:6px; border-top-left-radius:6px; -moz-border-radius-bottomleft:6px; -moz-border-radius-topleft:6px; }
.paginator-large .paginator-page-items span:last-child a { -webkit-border-top-right-radius:6px; border-top-right-radius:6px; -webkit-border-bottom-right-radius:6px; border-bottom-right-radius:6px; -moz-border-radius-topright:6px; -moz-border-radius-bottomright:6px; }
.paginator-mini .paginator-page-items span:first-child a,
.paginator-small .paginator-page-items span:first-child a { -webkit-border-bottom-left-radius:3px; border-bottom-left-radius:3px; -webkit-border-top-left-radius:3px; border-top-left-radius:3px; -moz-border-radius-bottomleft:3px; -moz-border-radius-topleft:3px; }
.paginator-mini .paginator-page-items span:last-child a,
.paginator-small .paginator-page-items span:last-child a { -webkit-border-top-right-radius:3px; border-top-right-radius:3px; -webkit-border-bottom-right-radius:3px; border-bottom-right-radius:3px; -moz-border-radius-topright:3px; -moz-border-radius-bottomright:3px; }

/* paginator-web */
.paginator-web { display:inline; white-space:nowrap; font-size:12px; font-weight:bold; font-family:arial; line-height:12px; }
.paginator-web .paginator-page-items a,
.paginator-web .paginator-page-items em { color:#2bb8aa; display:inline-block; position:relative; padding:5px 5px 3px; height:12px; min-width:10px; border:1px solid #dee3e3; border-radius:1px; text-align:center; text-decoration:none; margin-left:5px; line-height:12px; }
.paginator-web .paginator-page-items em { border-left-width:1; }
.paginator-web .paginator-page-items .page-disabled { color:#999999; }
.paginator-web .paginator-page-items .page-prev .page-disabled .tri { border-right-color:#999999; }
.paginator-web .paginator-page-items .page-next .page-disabled .tri { border-left-color:#999999; }
.paginator-web a:hover { text-decoration:none; border-color:#54c8bc; background:#fff; }
.paginator-web .page-disabled:hover { border-color:#dee3e3; }
.paginator-web a.current { border-color:#54c8bc; color:#fff; background-color:#2bb8aa; }
.paginator-web .paginator-page-items span:first-child a { border-radius:1px; }
.paginator-web .paginator-page-items span:last-child a { border-radius:1px; }
.paginator-web .page-prev a { width:40px; padding:5px 4px 3px 10px; }
.paginator-web .tri { position:absolute; top:6px; font-size:0; line-height:0; width:0; height:0; border:4px dashed transparent; }
.paginator-web .page-next a { width:40px; padding:5px 10px 3px 4px; }
.paginator-web .page-next .tri { right:2px; border-left:4px solid #0bb; }
.paginator-web .page-prev .tri { left:2px; border-right:4px solid #0bb; }
