#yui3-css-stamp.skin-sam-w-tab { display:none }
/*tab*/
.widget-edit-tab { margin:10px 0 20px 0; border-bottom: 1px solid #ddd; list-style:none; }
.widget-edit-tab li { margin-bottom: -1px; float:left; margin-right:2px; }
.widget-edit-tab li a { display:block; padding:8px 12px; line-height: 20px; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }
.widget-edit-tab li.current a { color: #555; cursor: default; background-color: #fff; border: 1px solid #ddd; border-bottom-color: transparent; }
.widget-edit-tab li.current a:hover { text-decoration:none; }
.widget-edit-tab li { display:block; color:#0088cc; text-decoration:none; }
.widget-edit-tab li:hover,
.widget-edit-tab li:focus { text-decoration:none; background-color:#eeeeee; }
.widget-edit-tab li.current:hover,
.widget-edit-tab li.current:focus { background-color:transparent; }
.widget-edit-tab:before,
.test_nav:before,
.widget-edit-tab:after,
.test_nav:after { display:table; line-height:0; content:""; }
.test_nav:after,
.widget-edit-tab:after { clear:both; }

/* vertical-tab */
.widget-tab-vertical { margin-bottom:10px; }
.widget-tab-vertical .widget-tab-trigger a:hover { background:#f0f0f0; color:#000; }
.widget-tab-vertical .widget-tab-trigger .widget-tab-vertical-arrow { float:left; _display:inline; cursor:pointer; width:20px; zoom:70%; }
.widget-tab-vertical .widget-tab-trigger ins { cursor:pointer; text-decoration:none; }
.widget-tab-vertical .widget-tab-sheet { clear:both; border:0; padding:20px; }
.widget-tab-vertical .widget-tab-trigger { margin-bottom:3px; color:#0088cc; padding:3px 4px; }
.widget-tab-vertical .widget-tab-trigger:last-child { margin-bottom:1px; }
.widget-tab-vertical .widget-tab-trigger { padding-top:8px; line-height:14px; padding-bottom:8px; margin-top:2px; margin-bottom:2px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.widget-tab-vertical .current,
.widget-tab-vertical .current:hover,
.widget-tab-vertical .current:focus { color:#ffffff; background-color:#0088cc; }
