<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="servicProcessor" class="com.meituan.service.mobile.mtthrift.jiguang.TestServiceImpl">
    </bean>

    <bean id="serverPublisher" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServerPublisher"
          init-method="publish" destroy-method="destroy">
        <property name="clusterManager" value="OCTO"/>
        <property name="appKey" value="com.sankuai.****.service"/>
        <property name="serviceInterface" value="com.meituan.service.mobile.mtthrift.jiguang.TestService"/>
        <property name="serviceImpl" ref="servicProcessor"/>
        <!--port 建议在(8100 ~ 10000) 之间.-->
        <property name="port" value="0"/>
    </bean>
</beans>
