<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="serviceProcessor" class="com.sankuai.mtthrift.testSuite.generic.GenericImpl">
    </bean>
    <bean id="serverPublisher" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServerPublisher"
          init-method="publish" destroy-method="destroy">
        <property name="serviceInterface" value="com.sankuai.mtthrift.testSuite.generic.Generic" />
        <property name="serviceImpl" ref="serviceProcessor"/>
        <property name="port" value="9009"/>
        <property name="appKey" value="com.sankuai.inf.mtthrift.testServer"/>
        <property name="shutdownWaitTime" value="20"/> <!-- 保证cat埋点上报 -->
    </bean>
</beans>