<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="defaultAuthHandler" class="com.meituan.service.mobile.mtthrift.auth.DefaultAuthHandler">
        <property name="appkeyTokenMap">
            <map>
                <entry key="com.sankuai.inf.mtthrift.testClient" value="123456"/>
            </map>
        </property>
        <property name="authType" value="requestAuth"/>
    </bean>

    <bean id="userDefinedAuthHandler" class="com.sankuai.mtthrift.testSuite.UserDefinedAuthHandler">
        <property name="appkeyWhitelist">
            <set>
                <value>com.sankuai.inf.mtthrift.testClient</value>
            </set>
        </property>
    </bean>

    <bean id="kmsAuthDataSource" class="com.meituan.service.inf.kms.client.KmsAuthDataSource">
        <property name="appkey" value="com.sankuai.inf.mtthrift.testServer"/>
    </bean>

    <bean id="kmsAuthHandler" class="com.meituan.service.mobile.mtthrift.auth.DefaultAuthHandler">
        <property name="authDataSource" ref="kmsAuthDataSource" />
        <property name="authType" value="requestAuth" />
    </bean>


    <bean id="serviceProcessor" class="com.sankuai.mtthrift.testSuite.idlTest.TwitterImpl">
    </bean>

    <bean id="serverPublisher" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServerPublisher"
          init-method="publish" destroy-method="destroy">
        <property name="serviceInterface" value="com.sankuai.mtthrift.testSuite.idlTest.Twitter"/>
        <property name="serviceImpl" ref="serviceProcessor"/>
        <property name="port" value="9004"/>
        <property name="appKey" value="com.sankuai.inf.mtthrift.testServer"/>
        <property name="authHandler" ref="defaultAuthHandler"/>
        <property name="shutdownWaitTime" value="0" />
    </bean>

    <bean id="serviceProcessor2" class="com.sankuai.mtthrift.testSuite.annotationTest.TwitterImpl">
    </bean>

    <bean id="serverPublisher2" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServerPublisher"
          init-method="publish" destroy-method="destroy">
        <property name="serviceInterface" value="com.sankuai.mtthrift.testSuite.idlTest.Twitter"/>
        <property name="serviceImpl" ref="serviceProcessor"/>
        <property name="port" value="9005"/>
        <property name="appKey" value="com.sankuai.inf.mtthrift.testServer"/>
        <property name="authHandler" ref="userDefinedAuthHandler"/>
        <property name="shutdownWaitTime" value="0" />
    </bean>


    <bean id="serviceProcessor3" class="com.sankuai.mtthrift.testSuite.annotationTest.TwitterImpl">
    </bean>

    <bean id="serverPublisher3" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServerPublisher"
          init-method="publish" destroy-method="destroy">
        <property name="serviceInterface" value="com.sankuai.mtthrift.testSuite.annotationTest.Twitter"/>
        <property name="serviceImpl" ref="serviceProcessor3"/>
        <property name="port" value="9003"/>
        <property name="appKey" value="com.sankuai.inf.mtthrift.testServer"/>
        <property name="authHandler" ref="defaultAuthHandler"/>
        <property name="shutdownWaitTime" value="0" />
    </bean>

    <bean id="serviceProcessor4" class="com.sankuai.mtthrift.testSuite.annotationTest.TwitterImpl">
    </bean>

    <bean id="serverPublisher4" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServerPublisher"
          init-method="publish" destroy-method="destroy">
        <property name="serviceInterface" value="com.sankuai.mtthrift.testSuite.annotationTest.Twitter"/>
        <property name="serviceImpl" ref="serviceProcessor4"/>
        <property name="port" value="9006"/>
        <property name="appKey" value="com.sankuai.inf.mtthrift.testServer"/>
        <property name="authHandler" ref="userDefinedAuthHandler"/>
        <property name="shutdownWaitTime" value="0" />
    </bean>


    <bean id="serviceProcessor5" class="com.sankuai.mtthrift.testSuite.idlTest.TwitterImpl">
    </bean>

    <bean id="serverPublisher5" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServerPublisher"
          init-method="publish" destroy-method="destroy">
        <property name="serviceInterface" value="com.sankuai.mtthrift.testSuite.idlTest.Twitter"/>
        <property name="serviceImpl" ref="serviceProcessor5"/>
        <property name="port" value="9007"/>
        <property name="appKey" value="com.sankuai.inf.mtthrift.testServer"/>
        <property name="authHandler" ref="kmsAuthHandler"/>
        <property name="shutdownWaitTime" value="0" />
    </bean>

    <bean id="myAuthDataSource" class="com.sankuai.mtthrift.testSuite.auth.MyAuthDataSource"></bean>

    <bean id="myAuthHandler" class="com.meituan.service.mobile.mtthrift.auth.DefaultAuthHandler">
        <property name="authDataSource" ref="myAuthDataSource"/>
        <property name="authType" value="requestAuth"/>
    </bean>

    <bean id="serviceProcessor6" class="com.sankuai.mtthrift.testSuite.idlTest.TwitterImpl">
    </bean>

    <bean id="serverPublisher6" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServerPublisher"
          init-method="publish" destroy-method="destroy">
        <property name="serviceInterface" value="com.sankuai.mtthrift.testSuite.idlTest.Twitter"/>
        <property name="serviceImpl" ref="serviceProcessor5"/>
        <property name="port" value="9008"/>
        <property name="appKey" value="com.sankuai.inf.mtthrift.testServer"/>
        <property name="authHandler" ref="myAuthHandler"/>
        <property name="shutdownWaitTime" value="0" />
    </bean>
</beans>
