<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="com.meituan.control.zookeeper"/>

    <!-- Enables the Spring Task @Scheduled programming model -->
    <task:executor id="executor" pool-size="5"/>
    <task:scheduler id="scheduler" pool-size="10"/>
    <task:annotation-driven executor="executor" scheduler="scheduler"/>

    <bean class="com.meituan.control.zookeeper.server.NettyHttpServer" init-method="init">
        <property name="port" value="8082"/>
    </bean>

    <bean id="mnsInvokerBean" class="com.sankuai.inf.octo.mns.MnsInvoker"/>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="mnsInvokerBean"/>
        <property name="targetMethod">
            <value>registerHttpService</value>
        </property>
        <property name="arguments">
            <list>
                <value>com.sankuai.octo.zkcenter</value>     <!-- 服务标识，在octo平台申请 -->
                <value>8082</value>       <!-- 服务监听端口 -->
            </list>
        </property>
    </bean>
</beans>
