<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sankuai.octo.msgp.dao.coverage.ServiceCoverageAppkeyDao">
    <resultMap id="BaseResultMap" type="com.sankuai.octo.msgp.model.coverage.ServiceCoverageAppkey">
        <!--<id column="id" property="id" jdbcType="INTEGER"/>-->
        <result column="statdate" property="statdate" jdbcType="VARCHAR"/>
        <result column="appkey" property="appkey" jdbcType="VARCHAR"/>
        <result column="base" property="base" jdbcType="INTEGER"/>
        <result column="owt" property="owt" jdbcType="VARCHAR"/>

        <result column="http" property="http" jdbcType="INTEGER"/>
        <result column="java" property="java" jdbcType="INTEGER"/>

        <result column="mtthrift" property="mtthrift" jdbcType="INTEGER"/>
        <result column="hlb" property="hlb" jdbcType="INTEGER"/>
        <result column="mns" property="mns" jdbcType="INTEGER"/>
        <result column="mcc" property="mcc" jdbcType="INTEGER"/>
        <result column="hulk" property="hulk" jdbcType="INTEGER"/>
        <result column="mtrace" property="mtrace" jdbcType="INTEGER"/>
        <result column="xmd_log" property="xmdlog" jdbcType="INTEGER"/>
        <result column="inf_bom" property="infbom" jdbcType="INTEGER"/>
        <result column="service_degrade" property="serviceDegrade" jdbcType="INTEGER"/>
        <result column="ptest" property="ptest" jdbcType="INTEGER"/>

        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="batchAddDayAppkeySvcCoverageData" parameterType="java.util.List">
        INSERT INTO service_coverage_appkey(statdate, appkey, base, owt, http, java, mtthrift, hlb,
        mns, mcc, hulk, mtrace, xmd_log, inf_bom, service_degrade, ptest, create_time)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.statdate}, #{item.appkey}, #{item.base}, #{item.owt}, #{item.http}, #{item.java}, #{item.mtthrift},
            #{item.hlb},
            #{item.mns}, #{item.mcc}, #{item.hulk}, #{item.mtrace}, #{item.xmdlog}, #{item.infbom},
            #{item.serviceDegrade}, #{item.ptest}, #{item.createTime})
        </foreach>
    </insert>

    <insert id="addAppkeySvcCoverageData" parameterType="com.sankuai.octo.msgp.model.coverage.ServiceCoverageAppkey">
        INSERT INTO service_coverage_appkey(statdate, appkey, base, owt, http, java, mtthrift, hlb,
        mns, mcc, hulk, mtrace, xmd_log, inf_bom, service_degrade, ptest, create_time)
        VALUES (#{statdate}, #{appkey}, #{base}, #{owt}, #{http}, #{java}, #{mtthrift}, #{hlb},
            #{mns}, #{mcc}, #{hulk}, #{mtrace}, #{xmdlog}, #{infbom}, #{serviceDegrade}, #{ptest}, #{createTime})
    </insert>

    <delete id="deleteOneDayAppkeyServiceData">
         DELETE FROM service_coverage_appkey WHERE `statdate` = #{date, jdbcType=VARCHAR}
    </delete>

    <select id="countOndDayAppkeyServiceData" resultType="java.lang.Integer">
        SELECT count(*) FROM service_coverage_appkey WHERE `statdate` = #{date, jdbcType=VARCHAR}
    </select>

    <select id="getDetailsList" resultType="com.sankuai.octo.msgp.domain.coverage.AppkeyComponentInfo"
            statementType="STATEMENT">
       select statdate,appkey,owt,${cmptVal} as isUsed from service_coverage_appkey where statdate &gt;= "${startTime}" and statdate &lt;= "${endTime}" and base=${baseInt} and owt="${owt}" and ${cmptVal}=1

    </select>

    <select id="getDetailsListOwtIsAll" resultType="com.sankuai.octo.msgp.domain.coverage.AppkeyComponentInfo"
            statementType="STATEMENT">
        select statdate,appkey,owt,${cmptVal} as isUsed from service_coverage_appkey where statdate &gt;= "${startTime}"
        and statdate &lt;= "${endTime}" and base=${baseInt} and ${cmptVal}=1 and owt in
        <foreach collection="owtlist" index="index" item="owt" open="(" separator="," close=")">
            "${owt}"
        </foreach>
    </select>

    <select id="getDetailsListBgIsAll" resultType="com.sankuai.octo.msgp.domain.coverage.AppkeyComponentInfo"
            statementType="STATEMENT">
        select statdate,appkey,owt,${cmptVal} as isUsed from service_coverage_appkey where statdate &gt;= "${startTime}" and statdate &lt;= "${endTime}" and base=${baseInt} and ${cmptVal}=1
    </select>

</mapper>