<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="300">
    <Properties>
        <Property name="app.key">msgp</Property>
        <Property name="appKey">com.sankuai.inf.msgp</Property>
        <Property name="app.logdir">/opt/logs/mobile/${app.key}</Property>
    </Properties>
    <appenders>

        <Console name="console" target="SYSTEM_OUT">
            <Patternlayout pattern="%d{DEFAULT} [%t] %-5p (%C{1}:%L) - %m%n"/>
        </Console>

        <XMDFile name="logFile" fileName="${app.key}.log"></XMDFile>

    </appenders>

    <Loggers>
        <!-- Root Logger -->
        <root level="INFO" includeLocation="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logFile"/>
        </root>
    </Loggers>
</Configuration>