<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="app.key">msgp-errorlog</Property>
        <Property name="appKey">com.sankuai.inf.octo.errorlog</Property>
        <Property name="app.logdir">/opt/logs/${app.key}</Property>
    </Properties>
    <Appenders>

        <XMDFile name="logFile" fileName="${app.key}.log"></XMDFile>


        <Scribe name="ScribeAppender">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <Property name="scribeCategory">octo_errorlog_logservice</Property>
            <LcLayout/>
        </Scribe>

        <Async name="AsyncScribeAppender" blocking="true">
            <AppenderRef ref="ScribeAppender"/>
        </Async>

        <Scribe name="ErrorScribeAppender">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <LcLayout/>
        </Scribe>
        <Async name="AsyncErrorScribeAppender" blocking="true">
            <AppenderRef ref="ErrorScribeAppender"/>
        </Async>


    </Appenders>

    <Loggers>

        <!--Application Logger-->
        <logger name="com.sankuai.msgp.errorlog.dao.LogAlarmConfigDao.updateBy" level="DEBUG" additivity="false">
            <AppenderRef ref="logFile"/>
        </logger>

        <logger name="com.sankuai" level="info" includeLocation="true" additivity="false">
            <AppenderRef ref="logFile"/>
            <AppenderRef ref="AsyncErrorScribeAppender"/>
        </logger>

        <logger name="com.meituan" level="info" includeLocation="true" additivity="false">
            <AppenderRef ref="logFile"/>
            <AppenderRef ref="AsyncErrorScribeAppender"/>
        </logger>

        <logger name="ErrorLog" level="info" includeLocation="true" additivity="false">    
            <AppenderRef ref="AsyncScribeAppender"/>
        </logger>

        <!-- Root Logger -->
        <root level="info" includeLocation="true">
            <AppenderRef ref="logFile"/>
            <AppenderRef ref="AsyncErrorScribeAppender"/>
        </root>
    </Loggers>

</Configuration>