<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="300">
    <Properties>
        <Property name="app.key">data-task</Property>
        <Property name="appKey">com.sankuai.inf.octo.task</Property>
        <Property name="app.logdir">/opt/logs/mobile/${app.key}</Property>
    </Properties>
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} %t [%p] %c{1} (%F:%L) %msg%n" />
        </Console>

    </appenders>

    <Loggers>
        <!-- Root Logger -->
        <root level="INFO" includeLocation="true">
            <AppenderRef ref="console"/>
        </root>
    </Loggers>
</Configuration>