/* 覆盖 cos ui */
#wrapper { min-height:500px; }
.form-table table th { text-align:center; padding:10px 0; }
.form-table table td { padding:15px 30px 15px 15px; }
.form-table table td input,
.form-table table td textarea { margin:0; width:100%; }
.form-table table tr.form-actions td { padding:15px 30px; }
.page-header .config-header-controller { margin:20px 0 0 20px; }

.config-tree div { font-size:15px; word-break:break-all; }
.config-tree li { margin:5px 0; }
.config-tree-node { padding:5px 10px; cursor:pointer; clear:both; }
.config-tree-node:hover { background:#eee; }
.config-tree ul { list-style:none; margin-left:20px; }

.config-tree-controller { display:none; margin-left:3px; color:#999; }
.config-tree-node:hover .config-tree-controller { display:inline; }
.config-tree-controller-update:hover { color:#058; }
.config-tree-controller-add:hover { color:#094; }
.config-tree-controller-delete:hover { color:#e22; }

.config-tree-node-current { background:#faecd0; }

.form-table td.config-panel-delete-td { text-align:center; padding-right:15px; vertical-align:middle; }
.config-panel-delete { color:#999; }
.config-panel-delete:hover { color:#e22; }

.config-panel-upload { color: #999999; }
.config-panel-upload:hover {color:#094;}

.config-panel-save { color: #999999; }
.config-panel-save:hover {color:#094;}

.config-panel-return { color: #094; }
.config-panel-return:hover {color:#058;}

.config-panel-edit { color: #999999; }
.config-panel-edit:hover {color: #99088c;}

.config-panel-modify { color: #999999; }
.config-panel-modify:hover {color: #99088c;}

.config-panel-read { color: #999999; }
.config-panel-read:hover {color: #094;}

.config-panel-select { color: #999999; }
.config-panel-select:hover {color: #094;}

.J-config-panel-item-deleted {
    background: hsl(0, 86%, 70%);
}
.J-config-panel-item-deleted input,
.J-config-panel-item-deleted textarea {
    background: hsl(0, 86%, 86%);
    border-color: hsl(0, 86%, 86%);
}
.J-config-panel-item-deleted .config-panel-delete,
.J-config-panel-item-deleted .config-panel-delete:hover {
    color: white;
}

.J-config-panel-item-modified {
    background: hsl(34, 100%, 81%);
}
.J-config-panel-item-modified input,
.J-config-panel-item-modified textarea {
    background: hsl(34, 100%, 91%);
    border-color: hsl(34, 100%, 91%);
}

.J-config-panel-item-added {
    background: hsl(130, 50%, 70%);
}
.J-config-panel-item-added input,
.J-config-panel-item-added textarea {
    background: hsl(130, 50%, 86%);
    border-color: hsl(130, 50%, 86%);
}

.config-file{
    border: 1px solid #999;
    margin: 20px 0;
    position: relative;
}

.config-file h3{
    position: absolute;
    top: -10px;
    left: 2em;
    background-color: #33a34e;
    color: #fff;
    padding: 1px 8px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.5;
}

.config-file .log-content{
    margin: 32px 15px 10px;
    min-height: 25px;
    text-align: left;
    border-collapse: collapse;
    font-family: monospace;
    border: none;
    padding: 0;
}
.config-file-head{
    font-size: 14px;
    background-color: #eee;
    line-height: 20px;
    font-weight: bold;
    display: table-cell;
}

.J-control-group textarea {
    overflow: hidden;
    outline: none;
    resize: none;
    width: 90%;
    background-color: #fff;
}

.config_backToTop {
    position: fixed;
    right: 60px;
    bottom: 10px;
    z-index: 100;
    transition: all .3s;
}
.pointer {
    cursor:pointer;
}
.divTableSpace {
    font-size: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.labelConfig {
    display: inline-block;
    padding: 2px 4px;
    font-size: 1px;
    /* font-weight: bold; */
    line-height: 12px;
    color: #f9f9f9;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #3fab99;
    text-shadow: none;
    border-radius: 3px;
}