<Plugins>
    <Plugin>
        <Name>sg_agent</Name>
        <Version>c1416b45d1336e3288d3ca538f515814</Version>
        <UserVersion>3.2.7</UserVersion>
    </Plugin>
    <Plugin>
        <Name>cr_agent</Name>
        <Version>30f144ad2397844cbb795bf053d6005f</Version>
        <UserVersion>1.1.3</UserVersion>
    </Plugin>
</Plugins>
