<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sankuai.octo.errorlog.dao.ErrorLogServiceStatusDao">
    <resultMap id="BaseResultMap" type="com.sankuai.octo.errorlog.model.ErrorLogServiceStatus">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="appkey" property="appkey" jdbcType="VARCHAR"/>
        <result column="service_status" property="serviceStatus" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="Appkeys" type="java.lang.String">
    </resultMap>

    <select id="getAppkeyStatus" resultMap="BaseResultMap">
        select * from error_log_service_status where appkey = #{appkey, jdbcType=VARCHAR}
    </select>

    <insert id="updateAppkeyStatus" parameterType="com.sankuai.octo.errorlog.model.ErrorLogServiceStatus">
        insert into error_log_service_status (appkey,service_status)
        values (#{appkey,jdbcType=VARCHAR}, #{serviceStatus,jdbcType=VARCHAR})
        on duplicate key update `service_status` = #{serviceStatus,jdbcType=VARCHAR}
    </insert>

    <select id="getStartAppkeys" resultMap="Appkeys">
        select appkey from error_log_service_status where service_status ='START' and left(update_time, 10) = #{day, jdbcType=VARCHAR}
    </select>

    <select id="getAllStartAppkey" resultMap="Appkeys">
        select appkey from error_log_service_status where service_status ='START'
    </select>
</mapper>