<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="com.sankuai.octo,com.sankuai.msgp">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
     <!--Enables the Spring Task @Scheduled programming model -->
    <task:executor id="executor" pool-size="5"/>
    <task:scheduler id="scheduler" pool-size="10"/>
    <task:annotation-driven executor="executor" scheduler="scheduler"/>

    <!--<bean id="employeeService" class="com.sankuai.meituan.org.remote.service.RemoteEmployeeService">-->
        <!--<property name="clientId" value="msgp"/>-->
        <!--<property name="secret" value="b535efb74b52d3d202cb96d2e239b454"/>-->
        <!--<property name="host" value="http://api.org-in.sankuai.com"/>-->
    <!--</bean>-->

    <!--<bean id="oswatchClient" class="com.meituan.service.mobile.mtthrift.proxy.ThriftClientProxy">-->
        <!--<property name="clusterManager" value="OCTO"/> &lt;!&ndash; 集群工作模式, 必须设置为octo &ndash;&gt;-->
        <!--<property name="appKey" value="com.sankuai.inf.octo.msgp"/> &lt;!&ndash; 客户端appkey，如果同时也是server的话，建议复用 &ndash;&gt;-->
        <!--<property name="remoteAppkey" value="com.sankuai.inf.octo.oswatch"/>  &lt;!&ndash; 服务端appkey，由服务提供方提供 &ndash;&gt;-->
        <!--<property name="mtThriftPoolConfig" ref="mtThriftPoolConfig"/>&lt;!&ndash; 可不配置:默认maxActive=100,maxIdle=20,minIdle=5,maxWait=3000 &ndash;&gt;-->
        <!--<property name="serviceInterface" value="com.sankuai.octo.oswatch.thrift.service.OSWatchService"/> &lt;!&ndash; service接口名 &ndash;&gt;-->
        <!--<property name="timeout" value="5000"/> &lt;!&ndash; thrift rpc 超时时间（毫秒） &ndash;&gt;-->
    <!--</bean>-->

    <bean id="mtThriftPoolConfig" class="com.meituan.service.mobile.mtthrift.client.pool.MTThriftPoolConfig">
        <property name="maxActive" value="100"/>
        <property name="maxIdle" value="20"/>
        <property name="minIdle" value="1"/>
        <property name="maxWait" value="3000"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="false"/>
    </bean>

    <bean id="exceptionHandler" class="com.sankuai.octo.msgp.utils.ExceptionHandler"/>

    <bean id="freemarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
        <property name="templateLoaderPath" value="/WEB-INF/views/servicerep/"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">0</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="locale">zh_CN</prop>
            </props>
        </property>
    </bean>

    <bean id="freeMarkerTemplateClient" class="com.sankuai.octo.msgp.utils.client.FreeMarkerClient">
        <property name="clientProxy" ref="freeMarkerTemplate"/>
    </bean>

</beans>
