<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="oswatchService" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServerPublisher">
        <property name="serviceInterface" value="com.sankuai.octo.oswatch.thrift.service.OSWatchService"/>
        <property name="serviceImpl" ref="oswatchServiceImpl"/>
        <property name="selectorThreads" value="4"/> <!-- 可不配置，默认4 -->
        <property name="minWorkerThreads" value="16"/> <!-- 可不配置，默认10 -->
        <property name="port" value="9111"/> <!-- Server 监听端口 -->
        <property name="appKey" value="com.sankuai.inf.octo.oswatch"/> <!-- 设置appkey -->
        <property name="clusterManager" value="OCTO"/> <!-- 设置工作模式, 确认 client 均通过 octo 模式接入后, 再改为 octo -->
    </bean>

    <bean id="oswatchServiceImpl" class="com.sankuai.octo.oswatch.OSWatchServiceImpl"/>

    <bean id="quotaController" class="com.sankuai.octo.oswatch.controller.QuotaController" init-method="init">
        <property name="QuotaThreadPoolSize" value="10"/>
        <property name="futureTimeout" value="1"/>
        <property name="checkInterval" value="1"/>
        <property name="pollingInterval" value="1"/>
        <property name="thriftClientProxy" ref="clientProxy"/>
        <property name="logAggregateURL" value="${logAggregateURL}"/>
        <property name="msgpURL" value="${msgpHost}"/>
    </bean>

    <bean id="clientProxy" class="com.meituan.service.mobile.mtthrift.proxy.ThriftClientProxy">
        <property name="appKey" value="com.sankuai.inf.octo.oswatch"/> <!-- 客户端appkey，如果同时也是server的话，建议复用 -->
        <property name="remoteAppkey" value="com.sankuai.inf.octo.msgp"/>  <!-- 服务端appkey，由服务提供方提供 -->
        <property name="mtThriftPoolConfig" ref="mtThriftPoolConfig"/><!-- 可不配置:默认maxActive=100,maxIdle=20,minIdle=5,maxWait=3000 -->
        <property name="serviceInterface" value="com.sankuai.octo.msgp.thrift.service.MSGPService"/> <!-- service接口名 -->
        <property name="timeout" value="5000"/> <!-- thrift rpc 超时时间（毫秒） -->
        <property name="clusterManager" value="OCTO"/> <!-- 集群工作模式, ZK/OCTO, 默认为 ZK, 和之前版本一致 -->
        <!-- 以下配置一般不用修改, 使用默认值即可 -->
        <property name="retryRequest" value="false"/> <!-- 请求失败后是否重试, 默认为 true -->
        <property name="enableRemoteDCServer" value="true"/> <!-- 访问远程机房服务的开关, 默认为 true -->
        <!--<property name="serverIpPorts" value="192.168.12.164:9001"/>-->
    </bean>

    <bean id="mtThriftPoolConfig" class="com.meituan.service.mobile.mtthrift.client.pool.MTThriftPoolConfig">
        <property name="maxActive" value="100"/>
        <property name="maxIdle" value="20"/>
        <property name="minIdle" value="1"/>
        <property name="maxWait" value="3000"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="false"/>
    </bean>
</beans>
