<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 单端口多服务基础配置 -->
    <bean id="idlServiceProcessorBean" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServiceBean">
        <property name="serviceImpl">
            <bean class="com.sankuai.mtthrift.testSuite.idlTest.TwitterImpl" />
        </property>
    </bean>

    <bean id="annotationServiceProcessorBean" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServiceBean">
        <property name="serviceImpl">
            <bean class="com.sankuai.mtthrift.testSuite.annotationTest.TwitterImpl" />
        </property>
    </bean>


    <bean id="serverPublisher" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServerPublisher"
          init-method="publish" destroy-method="destroy">
        <property name="appKey" value="com.sankuai.inf.mtthrift.testServer"/>
        <property name="port" value="9002"/>
        <property name="serviceProcessorMap">
            <map>
                <entry key="com.sankuai.mtthrift.testSuite.idlTest.Twitter" value-ref="idlServiceProcessorBean"/>
                <entry key="com.sankuai.mtthrift.testSuite.annotationTest.Twitter" value-ref="annotationServiceProcessorBean"/>
            </map>
        </property>
        <property name="shutdownWaitTime" value="0"/>
    </bean>

    <!-- 服务隔离配置 -->
    <bean id="myExecutor" class="java.util.concurrent.ThreadPoolExecutor">
        <constructor-arg index="0" value="4"/>
        <constructor-arg index="1" value="32"/>
        <constructor-arg index="2" value="30"/>
        <constructor-arg index="3" value="SECONDS"/>
        <constructor-arg index="4">
            <bean class="java.util.concurrent.LinkedBlockingQueue">
                <constructor-arg value="100"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="idlServiceProcessorBean2" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServiceBean">
        <property name="serviceImpl">
            <bean class="com.sankuai.mtthrift.testSuite.idlTest.TwitterImpl" />
        </property>
        <property name="serviceExecutor" ref="myExecutor" />
    </bean>

    <bean id="annotationServiceProcessorBean2" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServiceBean">
        <property name="serviceImpl">
            <bean class="com.sankuai.mtthrift.testSuite.annotationTest.TwitterImpl" />
        </property>
        <property name="methodExecutor">
            <map>
                <entry key="testString" value-ref="myExecutor"/>
            </map>
        </property>
    </bean>

    <bean id="serverPublisher2" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServerPublisher"
          init-method="publish" destroy-method="destroy">
        <property name="appKey" value="com.sankuai.inf.mtthrift.testServer"/>
        <property name="port" value="9003"/>
        <property name="serviceProcessorMap">
            <map>
                <entry key="com.sankuai.mtthrift.testSuite.idlTest.Twitter" value-ref="idlServiceProcessorBean2"/>
                <entry key="com.sankuai.mtthrift.testSuite.annotationTest.Twitter" value-ref="annotationServiceProcessorBean2"/>
            </map>
        </property>
        <property name="shutdownWaitTime" value="0"/>
    </bean>
</beans>
