<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sankuai.meituan.config.mapper.PullRequestDetailMapper" >
  <resultMap id="BaseResultMap" type="com.sankuai.meituan.config.domain.PullRequestDetail" >
    <id column="pr_detail_id" property="prDetailId" jdbcType="INTEGER" />
    <result column="pr_id" property="prId" jdbcType="INTEGER" />
    <result column="modified_key" property="modifiedKey" jdbcType="VARCHAR" />
    <result column="old_value" property="oldValue" jdbcType="VARCHAR" />
    <result column="new_value" property="newValue" jdbcType="VARCHAR" />
    <result column="old_comment" property="oldComment" jdbcType="VARCHAR" />
    <result column="new_comment" property="newComment" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pr_detail_id, pr_id, modified_key, old_value, new_value, old_comment, new_comment, 
    is_deleted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sankuai.meituan.config.domain.PullRequestDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pull_request_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pull_request_detail
    where pr_detail_id = #{prDetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pull_request_detail
    where pr_detail_id = #{prDetailId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sankuai.meituan.config.domain.PullRequestDetailExample" >
    delete from pull_request_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sankuai.meituan.config.domain.PullRequestDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="prDetailId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pull_request_detail (pr_id, modified_key, old_value, 
      new_value, old_comment, new_comment, 
      is_deleted)
    values (#{prId,jdbcType=INTEGER}, #{modifiedKey,jdbcType=VARCHAR}, #{oldValue,jdbcType=VARCHAR}, 
      #{newValue,jdbcType=VARCHAR}, #{oldComment,jdbcType=VARCHAR}, #{newComment,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.sankuai.meituan.config.domain.PullRequestDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="prDetailId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pull_request_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prId != null" >
        pr_id,
      </if>
      <if test="modifiedKey != null" >
        modified_key,
      </if>
      <if test="oldValue != null" >
        old_value,
      </if>
      <if test="newValue != null" >
        new_value,
      </if>
      <if test="oldComment != null" >
        old_comment,
      </if>
      <if test="newComment != null" >
        new_comment,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prId != null" >
        #{prId,jdbcType=INTEGER},
      </if>
      <if test="modifiedKey != null" >
        #{modifiedKey,jdbcType=VARCHAR},
      </if>
      <if test="oldValue != null" >
        #{oldValue,jdbcType=VARCHAR},
      </if>
      <if test="newValue != null" >
        #{newValue,jdbcType=VARCHAR},
      </if>
      <if test="oldComment != null" >
        #{oldComment,jdbcType=VARCHAR},
      </if>
      <if test="newComment != null" >
        #{newComment,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sankuai.meituan.config.domain.PullRequestDetailExample" resultType="java.lang.Integer" >
    select count(*) from pull_request_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pull_request_detail
    <set >
      <if test="record.prDetailId != null" >
        pr_detail_id = #{record.prDetailId,jdbcType=INTEGER},
      </if>
      <if test="record.prId != null" >
        pr_id = #{record.prId,jdbcType=INTEGER},
      </if>
      <if test="record.modifiedKey != null" >
        modified_key = #{record.modifiedKey,jdbcType=VARCHAR},
      </if>
      <if test="record.oldValue != null" >
        old_value = #{record.oldValue,jdbcType=VARCHAR},
      </if>
      <if test="record.newValue != null" >
        new_value = #{record.newValue,jdbcType=VARCHAR},
      </if>
      <if test="record.oldComment != null" >
        old_comment = #{record.oldComment,jdbcType=VARCHAR},
      </if>
      <if test="record.newComment != null" >
        new_comment = #{record.newComment,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pull_request_detail
    set pr_detail_id = #{record.prDetailId,jdbcType=INTEGER},
      pr_id = #{record.prId,jdbcType=INTEGER},
      modified_key = #{record.modifiedKey,jdbcType=VARCHAR},
      old_value = #{record.oldValue,jdbcType=VARCHAR},
      new_value = #{record.newValue,jdbcType=VARCHAR},
      old_comment = #{record.oldComment,jdbcType=VARCHAR},
      new_comment = #{record.newComment,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sankuai.meituan.config.domain.PullRequestDetail" >
    update pull_request_detail
    <set >
      <if test="prId != null" >
        pr_id = #{prId,jdbcType=INTEGER},
      </if>
      <if test="modifiedKey != null" >
        modified_key = #{modifiedKey,jdbcType=VARCHAR},
      </if>
      <if test="oldValue != null" >
        old_value = #{oldValue,jdbcType=VARCHAR},
      </if>
      <if test="newValue != null" >
        new_value = #{newValue,jdbcType=VARCHAR},
      </if>
      <if test="oldComment != null" >
        old_comment = #{oldComment,jdbcType=VARCHAR},
      </if>
      <if test="newComment != null" >
        new_comment = #{newComment,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where pr_detail_id = #{prDetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sankuai.meituan.config.domain.PullRequestDetail" >
    update pull_request_detail
    set pr_id = #{prId,jdbcType=INTEGER},
      modified_key = #{modifiedKey,jdbcType=VARCHAR},
      old_value = #{oldValue,jdbcType=VARCHAR},
      new_value = #{newValue,jdbcType=VARCHAR},
      old_comment = #{oldComment,jdbcType=VARCHAR},
      new_comment = #{newComment,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where pr_detail_id = #{prDetailId,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.sankuai.meituan.config.domain.PullRequestDetailExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pull_request_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>